@font-face {
    font-family: "el-icon";
    src: url('../fonts/iconfont.eot?t=1502703655426');
    /* IE9*/
    src: url('../fonts/iconfont.eot?t=1502703655426#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1502703655426') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1502703655426') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1502703655426#el-icon') format('svg');
    /* iOS 4.1- */
    font-weight: 400;
    font-style: normal
}

[class*=" el-icon-tsp"],
[class^="el-icon-tsp"] {
    font-family: "el-icon" !important;
    font-size: 12px;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.el-icon-tsp-tingzhi:before {
    content: "\e66c";
}

.el-icon-tsp-zanting:before {
    content: "\e64f";
}

.el-icon-tsp-bofang:before {
    content: "\e64e";
}

.el-icon-tsp-icon1:before {
    content: "\e63c";
}

.el-icon-tsp-fullscreen:before {
    content: "\e66b";
}

.el-icon-tsp-fullscreen-exit:before {
    content: "\e6ac";
}

.el-icon-tsp-monitor1:before {
    content: "\e76a";
}

.el-icon-tsp-jikediancanicon44:before {
    content: "\e79b";
}

.el-icon-tsp-msnui-alarm-triangle:before {
    content: "\e756";
}

.el-icon-tsp-xitong:before {
    content: "\e60f";
}

.el-icon-tsp-guijihuifang:before {
    content: "\e62d";
}

.el-icon-tsp-order:before {
    content: "\e634";
}

.el-icon-tsp-baojing:before {
    content: "\e62e";
}

.el-icon-tsp-baobiao:before {
    content: "\e618";
}

.el-icon-tsp-alarm:before {
    content: "\e605";
}

.el-icon-tsp-guiji:before {
    content: "\e6f2";
}

.el-icon-tsp-yuyan:before {
    content: "\e647";
}

.el-icon-tsp-vehicle-group:before {
    content: "\e63f";
}

.el-icon-tsp-cheliangguanli:before {
    content: "\e640";
}

.el-icon-tsp-wenben:before {
    content: "\e63e";
}

.el-icon-tsp-guiji1:before {
    content: "\e772";
}

.el-icon-tsp-200:before {
    content: "\e646";
}

.el-icon-tsp-baobiao1:before {
    content: "\e623";
}

.el-icon-tsp-yuyan1-copy:before {
    content: "\e65d";
}

.el-icon-tsp-baojing1:before {
    content: "\e60b";
}

.el-icon-tsp-52d72adc69438zhuanhuan:before {
    content: "\e643";
}

.el-icon-tsp-renyuan:before {
    content: "\e63a";
}

.el-icon-tsp-baobiao2:before {
    content: "\e67f";
}

.el-icon-tsp-yunwei:before {
    content: "\e676";
}

.el-icon-tsp-langnoround:before {
    content: "\e644";
}

.el-icon-tsp-yunweiguanli:before {
    content: "\e620";
}

.el-icon-tsp-baobiao3:before {
    content: "\e675";
}

.el-icon-tsp-anquan1:before {
    content: "\e624";
}

.el-icon-tsp-yuyan1:before {
    content: "\e645";
}

.el-icon-tsp-yuyan2:before {
    content: "\e654";
}

.el-icon-tsp-xitong1:before {
    content: "\e630";
}

.el-icon-tsp-unif010:before {
    content: "\e649";
}

.el-icon-tsp-renyuanjiankong:before {
    content: "\e63b";
}

.el-icon-tsp-cheliang:before {
    content: "\e72f";
}

.el-icon-tsp-organization:before {
    content: "\e61f";
}

.el-icon-tsp-gjcx:before {
    content: "\e977";
}

.el-icon-tsp-aguiji:before {
    content: "\e62f";
}

.el-icon-tsp-vehicle:before {
    content: "\e609";
}

.el-icon-tsp-icon:before {
    content: "\e642";
}

.el-icon-tsp-jigou2:before {
    content: "\e626";
}

.el-icon-tsp-zuzhi:before {
    content: "\e622";
}

.el-icon-tsp-yunwei1:before {
    content: "\e615";
}

.el-icon-tsp-xitong2:before {
    content: "\e641";
}

.el-icon-tsp-duobianxing:before {
    content: "\e7d1";
}

.el-icon-tsp-jiankong:before {
    content: "\e632";
}

.el-icon-tsp-people:before {
    content: "\e9a8";
}

.el-icon-tsp-baobiao4:before {
    content: "\e61b";
}

.el-icon-tsp-xitong3:before {
    content: "\ea01";
}

.el-icon-tsp-baobiao5:before {
    content: "\e6b4";
}

.el-icon-tsp-monitor:before {
    content: "\e611";
}

.el-icon-tsp-yunwei2:before {
    content: "\e648";
}

.el-icon-tsp-baobiao6:before {
    content: "\e7f0";
}

.el-icon-tsp-yuanxing:before {
    content: "\e61a";
}

.el-icon-tsp-zuzhi1:before {
    content: "\e610";
}

.el-icon-tsp-chart:before {
    content: "\e61d";
}

.el-icon-tsp-hangcheguiji:before {
    content: "\e6f4";
}

.el-icon-tsp-ef--shijian:before {
    content: "\e606";
}

.el-icon-tsp-line:before {
    content: "\e64a";
}

.el-icon-tsp-xitong4:before {
    content: "\e61e";
}

.el-icon-tsp-cheliang1:before {
    content: "\e631";
}

.el-icon-tsp-baobiao7:before {
    content: "\e65a";
}

.el-icon-tsp-dunpai:before {
    content: "\e639";
}

.el-icon-tsp-circle:before {
    content: "\e67c";
}

.el-icon-tsp-polygon:before {
    content: "\e60c";
}

.el-icon-tsp-Refresh:before {
    content: "\e726";
}

.el-icon-tsp-xitong5:before {
    content: "\ea47";
}

.el-icon-tsp-PDF--:before {
    content: "\e72c";
}

.el-icon-tsp-xitong6:before {
    content: "\e621";
}

.el-icon-tsp-shijian:before {
    content: "\e625";
}

.el-icon-tsp-yuyan3:before {
    content: "\e69e";
}

.el-icon-tsp-clgj:before {
    content: "\e633";
}

.el-icon-tsp-pdf:before {
    content: "\e79d";
}

.el-icon-tsp-jiankong-:before {
    content: "\e635";
}

.el-icon-tsp-home:before {
    content: "\e6cd";
}

.el-icon-tsp-renyuanjiankong1:before {
    content: "\e6df";
}

.el-icon-tsp-list:before {
    content: "\e601";
}

.el-icon-tsp-xitong7:before {
    content: "\e627";
}

.el-icon-tsp-yunweiguanli1:before {
    content: "\e6ba";
}

.el-icon-tsp-ccgl-baobiao-4:before {
    content: "\e602";
}

.el-icon-tsp-dunpai1:before {
    content: "\e64b";
}

.el-icon-tsp-yuyan4:before {
    content: "\e677";
}

.el-icon-tsp-icon-test:before {
    content: "\e608";
}

.el-icon-tsp-guiji2:before {
    content: "\e636";
}

.el-icon-tsp-huodongguiji:before {
    content: "\e637";
}

.el-icon-tsp-baobiao8:before {
    content: "\e7d5";
}

.el-icon-tsp-wenben2:before {
    content: "\e64c";
}

.el-icon-tsp-baobiao9:before {
    content: "\e712";
}

.el-icon-tsp-yuyan5:before {
    content: "\e6be";
}

.el-icon-tsp-jiankong1:before {
    content: "\e6a7";
}

.el-icon-tsp-shijianzhuizong:before {
    content: "\e655";
}

.el-icon-tsp-xitong8:before {
    content: "\e807";
}

.el-icon-tsp-dunpai2:before {
    content: "\e669";
}

.el-icon-tsp-rectangle:before {
    content: "\e604";
}

.el-icon-tsp-draw-polyline:before {
    content: "\e600";
}

.el-icon-tsp-xitong9:before {
    content: "\e629";
}

.el-icon-tsp-yuyan6:before {
    content: "\e64d";
}

.el-icon-tsp-yunweitiaoshi:before {
    content: "\e603";
}

.el-icon-tsp-zuzhi2:before {
    content: "\e62a";
}

.el-icon-tsp-baobiao10:before {
    content: "\e66d";
}

.el-icon-tsp-company:before {
    content: "\e63d";
}

.el-icon-tsp-tubiao-:before {
    content: "\e607";
}

.el-icon-tsp-icon-test1:before {
    content: "\e62b";
}

.el-icon-tsp-fence:before {
    content: "\e628";
}

.el-icon-tsp-zhexian:before {
    content: "\e6b6";
}

.el-icon-tsp-shijian1:before {
    content: "\e62c";
}

.el-icon-tsp-gengxinguiji:before {
    content: "\e638";
}

.el-icon-tsp-big-car:before {
    content: "\e7c5";
}

.el-icon-tsp-map-marker:before {
    content: "\e7c7";
}

.el-icon-tsp-shouye:before {
    content: "\e60a";
}

.el-icon-tsp-cheliangjiankong:before {
    content: "\e60d";
}

.el-icon-tsp-fenxitongji:before {
    content: "\e60e";
}

.el-icon-tsp-xitongguanli:before {
    content: "\e612";
}

.el-icon-tsp-hangshijilu:before {
    content: "\e613";
}

.el-icon-tsp-anquan:before {
    content: "\e614";
}

.el-icon-tsp-qita:before {
    content: "\e616";
}

.el-icon-tsp-rizhiguanli:before {
    content: "\e617";
}

.el-icon-tsp-weilan:before {
    content: "\e619";
}

.el-icon-tsp-gengduo:before {
    content: "\e61c";
}
.el-icon-tsp-remove:before {
    content: "\e661"; 
}
.el-icon-tsp-remove1:before { 
    content: "\e6b2"; 
}
.el-icon-tsp-guiji3:before {
    content: "\e70c"; 
}
.el-icon-tsp-building::before{
    content:"\e672";
}
.el-icon-tsp-suo::before{
    content: "\e652";
}
.el-icon-tsp-renyuan1::before{
    content: "\e651";
}
.el-icon-tsp-rightjiantou::before{
    content:"\e656"
}
.el-icon-tsp-jiantou::before{
    content: "\e653"
}
.el-icon-tsp-jiantou-right:before { content: "\e650"; }

.el-icon-tsp-jiantou-left:before { content: "\ea48"; }

.el-icon-tsp-tixing:before { content: "\e68e"; }

.el-icon-tsp-xialajiantou:before {
 content: "\e658"; }

 .el-icon-tsp-shanglajiantou-copy:before { 
    content: "\ea49"; 
}
.el-icon-tsp-jiesuo1::before{
    content: "\e657";
}
.el-icon-tsp-shoucang1::before{
    content: "\e65b";
}
.el-icon-tsp-shoucang::before{
    content: "\e662";
}
.el-icon-tsp-shexiangtou1::before{
    content: "\e65e";
}
.el-icon-tsp-shexiangtou2::before{
    content: "\e65c";
}
.el-icon-tsp-tool-cabinet_icon::before{
    content: "\e67b";
}
.el-icon-tsp-niaokanpressed::before{
    content: "\e660";
}


